<!doctype html>
<html>
	<head>
		<title>Eclipse.chat</title>
		<link href="/public/css/global.css" rel="stylesheet" />
		<script src="/socket.io/socket.io.js"></script>
		<script>window.socket = io();</script>
		<script src="/public/js/client.js"></script>
	</head>
	<body>
		<%- partial("partials/header") %>
		<%- body %>
	</body>
</html>